* {
  background: black;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  box-sizing: border-box;
}

/* start of header */

nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
}

nav .logo {
  width: 80px;
  height: auto;
  cursor: pointer;
  transition: 0.5s;
}

nav .logo:hover {
  width: 90px;
  height: auto;
  transition: 0.5s;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: darkgoldenrod;
  transition: 0.5s;
}

nav ul li a:hover {
  color: goldenrod;
  transition: all 0.5s ease;
}

/* end of header */

.text{
  color: darkgoldenrod;
}

.text h1 {
  font-size: 64px;
  font-weight: 500;
  margin: 10px;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.img {
  margin: 10px;
  height: 300px;
  width: 450px;
  border: 8px solid darkgoldenrod;
  border-radius: 15px;
}

/* start of footer */

.container {
  max-width: 1170px;
  margin: auto;
}

footer {
  margin-top: 100px;
  line-height: 1.5;
  background-color: black;
  padding: 70px 0;
}

footer ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: darkgoldenrod;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: darkgoldenrod;
  width: 50px;
  height: 2px;
  border-radius: 1px;
  box-sizing: border-box;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  color: darkgoldenrod;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: gold;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  color: darkgoldenrod;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: black;
  background-color: darkgoldenrod;
}


/* end of footer */
