/**************************/
/* HEADER */
/**************************/

/******* GOOGLE TRANSLATE ******/
#google_translate_element select {
  background: #fff;
  color: #343a44;
  border: none;
  border-radius: 8px;
  padding: 0 8px;
  margin-bottom: -0.5rem;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 7rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: darkgoldenrod;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: darkgoldenrod;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: darkgoldenrod;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: black;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fff;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 0.8rem;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* filter: brightness(); */
  opacity: 50%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #dddfe7;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 80%;
  z-index: 1000;
}

.small {
  width: 45%;
  z-index: 1000;

}

.fixed-width {
  width: 45%;
}

.no-padding {
  padding: 0;
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.product-btn:link,
.product-btn:visited {
  border-radius: 0.8rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background-color: #0ca678;
  color: #f8f9fa;
}

.product-btn:hover,
.product-btn:active {
  background-color: #087f5b;
  transition: all 0.3s;
}

.product-btn-white:link,
.product-btn-white:visited {
  width: 7rem;
  border-radius: 0.8rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background-color: #edf1ff;
  color: #333;
}

.product-btn-white:hover,
.product-btn-white:active {
  background-color: #dddfe7;
  transition: all 0.3s;
}

.flex {
  display: flex;
  justify-content: center;
}

.slider {
  width: 80%;
  max-width: 62rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 65rem;
  height: 35rem;
  position: absolute;
  transition: all 0.5s;
  background-color: #fff;
  color: #343a40;

  display: flex;
  align-items: center;
  /* gap: 2.4rem; */
}

.carousel-text {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  margin-left: 1.5rem;
}

.slide img {
  max-width: 55%;
  height: 100%;
  object-fit: cover;
}

.btn-carousel {
  position: absolute;
  width: 4.0rem;
  height: 4.0rem;
  padding: 1.0rem;
  border: none;
  border-radius: 50%;
  z-index: 1.0rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.8rem;
}

.btn-carousel:active {
  transform: scale(1.1);
}

.btn-carousel:hover {
  background-color: #dbe4ff00;
}

.btn-carousel-prev {
  top: 45%;
  left: 2%;
}

.btn-carousel-next {
  top: 45%;
  right: 2%;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: #f0f7f5;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;

  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}


/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.qr {
  width: 10rem;
  height: 10rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgoldenrod;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}